.container {
    width: 50%;
    max-width: 800px;
}

.topleft {
    top: 7%;
    left: 18%;
}

.topright {
    top: 7%;
    left: 60%;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
    background-image: none;
    background-color: transparent;
}

body {
    font-family: 'Spectral', serif !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container1:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
}


.button {
    position: absolute;
    width: 500px;
    left: 0;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.selecionar {
    position: absolute;
    top: 200px !important;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container1:hover .button {
    opacity: 1;
}

li {
    display: block;
    transition-duration: 0.5s;
}

    li:hover {
        cursor: pointer;
    }

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }


/*cart*/




.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #a9957b;
    margin: 0 auto;
}

.products-header {
    width: 50%;
}

.product-title {
    width: 45%;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:10px 0 ;
}


.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;

    flex-wrap:wrap;
}

.products-container ion-icon {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.basketTotalContainer{
    display:flex;
    justify-content:flex-end;
    width:100%;
    padding:10px 0;
        
}

.basketTotalTitle {
    border-top: 1px solid #a9957b;
    width: 30%;
}

.basketTotal {
    width: 10%;
    border-top: 1px solid #a9957b;
}
